<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HospitalManagmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewAllPatient</display-name>
    <servlet-name>ViewAllPatient</servlet-name>
    <servlet-class>controller.ViewAllPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPatient</servlet-name>
    <url-pattern>/ViewAllPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDoctor</display-name>
    <servlet-name>ViewAllDoctor</servlet-name>
    <servlet-class>controller.ViewAllDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDoctor</servlet-name>
    <url-pattern>/ViewAllDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatient</display-name>
    <servlet-name>AddPatient</servlet-name>
    <servlet-class>controller.AddPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatient</servlet-name>
    <url-pattern>/AddPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctor</display-name>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>controller.AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAppointment</display-name>
    <servlet-name>ViewAllAppointment</servlet-name>
    <servlet-class>controller.ViewAllAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAppointment</servlet-name>
    <url-pattern>/ViewAllAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>controller.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>controller.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPatientName</display-name>
    <servlet-name>ViewAllPatientName</servlet-name>
    <servlet-class>controller.ViewAllPatientName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPatientName</servlet-name>
    <url-pattern>/ViewAllPatientName</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ViewAllPatientAndDoctorName</display-name>
    <servlet-name>ViewAllPatientAndDoctorName</servlet-name>
    <servlet-class>controller.ViewAllPatientAndDoctorName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPatientAndDoctorName</servlet-name>
    <url-pattern>/ViewAllPatientAndDoctorName</url-pattern>
  </servlet-mapping>
</web-app>